html,
body {
	height: 100%;
}

body {
	font-family: 'Rubik', 'Aria', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	line-height: 1.5;
	color: $dark;
	background-color: $silver-100;

	@include mq('phone'){
		font-size: 16px;
	}
}

.lock {
	overflow: hidden;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0, 0.5);
		z-index: 40;
	}
}


.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main {
	flex: 1 0 auto;
}

.section {
	margin-bottom: 120px;

	@include mq('tablet'){
		margin-bottom: 80px;
	}

	@include mq('phone'){
		margin-bottom: 40px;
	}
}

.footer {
	flex: 0 0 auto;
}