html,
body {
	height: 100%;
}

body {
	font-family: 'Rubik', 'Aria', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	line-height: 1.5;
	color: $dark;
	background-color: $silver-100;
}


.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main {
	flex: 1 0 auto;
}

.section {
	margin-bottom: 120px;
}

.logo {
	transition: box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out;
	outline: 0;

	&:focus {
		box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
		border-radius: 5px;
	}

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.5;
	}
}

.btn {
	background-color: $orange;
	color: #fff;
	padding: 12px 32px;
	border-radius: 6px;
	font-size: 18px;
	line-height: 1.3;
	letter-spacing: 0.03em;
	outline: 0;
	transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;

	&:focus {
		background-color: rgba($orange, 0.1);
		box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
		border-radius: 5px;
		color: $orange;
	}

	&:hover {
		background-color: rgba(#fff, 0.1);
		box-shadow: 0px 5px 12px rgba($orange, 0.2), 0px 0px 0px 2px rgba($orange, 0.7);
		border-radius: 5px;
		color: $orange;
	}

	&:active {
		background-color: rgba($orange, 0.1);
		border-radius: 5px;
		color: $orange;
	}
}

.title {
	font-weight: 500;
	font-size: 36px;
	line-height: 1.3;
	color: $darkBlue;
}

.product-card {
	width: 210px;
	height: 100%;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 0px 0px 1px $silver-200;
	border-radius: 5px;
	transition: box-shadow 0.5s ease-in-out;

	&:hover {
		box-shadow: 0px 0px 0px 1px $orange;
		border-radius: 5px;
	}

	&__link {
		display: block;
		outline: 0;
	}

	&__img {
		margin-bottom: 10px;
	}

	&__title {
		font-size: 15px;
		line-height: 1.2;
		text-align: center;
		margin-bottom: 10px;
	}

	&__price {
		font-weight: 500;
		font-size: 15px;
		line-height: 1.4;
		color: $darkBlue;
		margin-bottom: 10px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		flex-grow: 1;
	}

	&__btn {
		font-size: 14px;
		padding: 7px 16px;
		outline: 0;
	}
}

.more-btn {
	display: block;
	margin: 0 auto;
	position: relative;
	outline: 0;
	transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

	&::before {
		@extend %under-line;
		bottom: 5px;
	}

	&:focus {
		box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
		border-radius: 5px;

		&::before {
			opacity: 0;
		}
	}

	&:hover {
		color: $orange;

		&::before {
			opacity: 0;
		}
	}

	&:active {
		text-shadow: 2px 2px 5px rgba($darkBlue, 0.5);

		&::before {
			opacity: 0;
		}
	}
}

.input-field {
	padding: 12px 15px;
	background-color: #FFFFFF;
	border: 1px solid $gray;
	border-radius: 5px;
	font-size: 14px;
	line-height: 1.3;

	&::placeholder {
		font-weight: 400;
		font-size: 14px;
		line-height: 1.3;
		color: rgba($gray, 0.9);
		transition: color 0.5s ease-in-out;
	}

	&:focus {
		box-shadow: 0px 0px 0px 2px $orange;
		border-color: transparent;
		border-radius: 5px;
	}

	&:hover::placeholder {
		color: rgba($dark, 0.9);
	}
}

.contacts {
	font-style: normal;

	&__list {
		font-size: 16px;
		line-height: 2;
		color: $dark;
	}

	&__item {
		margin-bottom: 15px;
	}

	&__link {
		padding-left: 31px;
		outline: 0;
		display: block;
		position: relative;
		transition: box-shadow 0.5s ease-in-out, color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;

		&::before {
			content: '';
			position: absolute;
			width: 24px;
			height: 24px;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			transition: filter 0.5s;
		}

		&--address::before {
			background-image: url('../images/sprite.svg#location');
		}

		&--phone::before {
			background-image: url('../images/sprite.svg#calling');
		}

		&--mail::before {
			background-image: url('../images/sprite.svg#message');
		}

		&:focus {
			box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
			border-radius: 5px;
		}

		&:hover {
			color: $orange;

			&::before {
				@extend %blackToOrange;
			}
		}

		&:active {
			text-shadow: 2px 2px 5px rgba($dark, 0.5);
		}
	}
}

.social {
	display: flex;

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		outline: 0;
		// width: 39px;
		// height: 39px;
		// border-radius: 50%;
		// background-color: $silver-200;

		&:not(:last-child) {
			margin-right: 13px;
		}

	}

	&__link {
		background-color: $gray;
		width: 39px;
		height: 39px;
		outline: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out ;

		&:focus{
			background-color: rgba($orange, 0.1);
			box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
		}

		&:hover{
			background-color: $orange;

			.social__icon{
				background-color: #fff;
			}
		}

		&:active{
			background-color: rgba($orange, 0.1);

			.social__icon{
				background-color: $orange;
			}
		}
	}

	&__icon{
		width: 20px;
		height: 20px;
		mask-size: contain;
		mask-position: center;
		mask-repeat: no-repeat;
		background-color: $dark;
		display: block;
		transition: background-color 0.5s ease-in-out
	}

}

.restaurant-card {
	background-color: #fff;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	max-width: 370px;
	transition: box-shadow 0.5s ease-in-out;

	&:hover {
		box-shadow: 0px 3px 15px rgba($orange, 0.5);
		border-radius: 10px;
	}
	&__image{
		outline: 0;
	}

	&__img {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin-bottom: 15px;
	}

	&__title {
		display: block;
		margin: 0 0 20px 20px;
		font-size: 24px;
		line-height: 1.3;
		outline: 0;

		h3{
			font-weight: 400;
		}
	}

	&__bottom {
		padding: 0 20px 20px 20px;
		display: flex;
		justify-content: space-between;
		
	}

	&__time {
		font-weight: 300;
		font-size: 18px;
		line-height: 1.67;
		color: rgba($dark, 0.9);
		padding-left: 32px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 22px;
			height: 25px;
			background-image: url('../images/sprite.svg#time');
			background-repeat: no-repeat;
			background-size: contain;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__link {
		display: block;
		width: 79px;
		height: 33px;
		background-color: $orange;
		border-radius: 20px;
		position: relative;
		outline: 0;
		transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

		&::before {
			content: '';
			position: absolute;
			width: 14px;
			height: 12px;
			background-image: url('../images/sprite.svg#arrow-right');
			background-repeat: no-repeat;
			background-size: contain;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			@extend %blackToWhite;
			transition: transform 0.5s ease-in-out;
		}

		&:focus {
			background-color: rgba($orange, 0.1);
			box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
			border-radius: 20px;

			&::before {
				@extend %blackToOrange;
			}
		}

		&:hover {
			background-color: #fff;
			box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
			border-radius: 20px;

			&::before {
				@extend %blackToOrange;
				top: 50%;
				transform: translate(20px, -50%);

			}
		}

		&:active {
			background-color: rgba($orange, 0.1);

			&::before {
				@extend %blackToOrange;
			}
		}
	}

}

.mobile-app{

	&__inner{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 380px;
		background-repeat: no-repeat;
		background-size: 570px 380px;
		background-position: center right;
	}

	&__title{
		max-width: 540px;
		margin-bottom: 45px;
	}

	&__text{
		max-width: 540px;
		margin-bottom: 20px;

		p{
			margin-bottom: 10px;
		}
	}

	&__list{
		display: flex;
	}

	&__item{

		&:not(:last-child){
			margin-right: 30px;
		}
	}

	&__link{
		display: block;
		width: 120px;
		height: 40px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		outline: 0;

		&--apple{
			background-image: url('../images/app-store.svg');
		}

		&--google{
			width: 135px;
			background-image: url('../images/google-play.svg');
		}
	}
}

.footer {
	flex: 0 0 auto;
}