$orange: #ff6838;
$silver-200: #ECECEC;
$silver-100: #F9FAFF;
$gray: #C2C2C2;
$darkBlue: #363853;
$dark: #31352B;


%rubik-light {
  font-family: "Rubik-Light", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

%rubik-regular {
  font-family: "Rubik-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

%rubik-italic {
  font-family: "Rubik-Italic", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
}

%rubik-medium {
  font-family: "Rubik-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

%under-line{
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: $darkBlue;
}
