$orange: #ff6838;
$silver-200: #ECECEC;
$silver-100: #F9FAFF;
$gray: #C2C2C2;
$darkBlue: #363853;
$dark: #31352B;


@mixin under-line($height:1px, $color:$darkBlue) {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  width: 100%;
  height: $height;
  background-color: $color;
  transition: opacity 0.5s ease-in-out;
}


@function max($numbers...) {
 @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
 @return m#{i}n(#{$numbers});
}