@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 60px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btns{
    display: flex;
    margin-right: 12px;
  }

  &__item{
    line-height: 0;
  }

  &__item:first-child{
    margin-right: 35px;
  }

  &__item--cart{
    position: relative;

    &::before{
      content: '4';
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -5px;
      right: -5px;
      line-height: 1;
      width: 14px;
      height: 14px;
      background-color: $orange;
      border-radius: 50%;
      color: #fff;
      font-size: 10px;
    }
  }

  &__btn{
    width: 19px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

}

.menu {
  margin: 0 63px 0 auto;

  &__list {
    display: flex;
    
  }

  &__item:not(:last-child){
    margin-right: 45px;
  }

}

.top {
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  &__title{
    @extend %rubik-medium;
    font-size: 66px;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 20px;
    color: $darkBlue;

    span{
      color: $orange;
    }

  }

  &__content{
    margin-right: 160px;
    max-width: 450px;
  }

  &__text{
    margin-bottom: 20px;

    p{
      margin-bottom: 10px;
    }
  }

  &__btn{
    margin-right: 34px;
  }

  &__link{
    color: $darkBlue;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $darkBlue;
    }
  }
}



@import 'media';