.benefits {

  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1030px;
    min-height: 585px;
    background-repeat: no-repeat;
    background-size: 440px 585px;
    background-position: center left;
    background-size: contain;
    @include push--auto;

    @include mq('tablet-2'){
      box-shadow: inset 0 0 0 1000px rgba(249, 250, 255, 0.85);;
    }

    @include mq('phone'){
      min-height: 462px;
    }
  }

  &__content {
    max-width: 470px;
    flex-basis: 470px;
  }

  &__title {
    max-width: 400px;
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 30px;

    p:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__list {
    margin-bottom: 30px;

    @include mq('phone'){
      margin-bottom: 20px;
    }
  }

  &__item {
    font-size: 24px;
    line-height: 1.5;
    padding-left: 64px;
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: left center;

    @include mq('phone'){
      font-size: 18px;
      padding: 4px 0 4px 44px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include mq('phone'){
        margin-bottom: 15px;
      }
    }
  }

  &__link {
    display: inline-block;

    @include mq('phone'){
      padding: 12px 32px;
    }
  }
}