.catalog {
  padding-top: 60px;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;

    @include mq('tablet'){
      display: block;
    }

    @include mq('phone'){
      margin-bottom: 30px;
    }
  }

  &__title{
    
    @include mq('phone'){
      margin-bottom: 20px;
    }
  }

  &__btn{
    display: none;
    outline: 0;

    @include mq('tablet'){
      display: block;
    }
  }

  &__layout {
    display: flex;


    @include mq('tablet'){
      justify-content: center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 60px;


    @include mq('desktop') {
      grid-template-columns: repeat(3, 1fr);

    }

    @include mq('tablet-2') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq('phone'){
      grid-template-columns: repeat(2, 170px);
      gap: 10px 5px;
      margin-bottom: 30px;
    }
    
  }

  &__item {


    &:nth-child(-n + 6) {

      @include mq('tablet-2') {
        display: none;
      }
    }
  }

  &__box{
    display: flex;
    align-items: center;
  }

  &__btn{
    width: 47px;
    height: 47px;
    background-color: rgba($orange, 0.1);
    margin-right: 10px;
    background-image: url('../../images/filter-btn.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}


.sorting-filters {

  &__items {
    display: flex;
  }

  &__item {

    position: relative;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__label {

    
    transition: background-color 0.5s ease-in-out;

    &::before {
      @include pseudo;
      mask-image: url('../../images/chevron-down.svg');
      mask-repeat: no-repeat;
      background-color: $gray;
      width: 11px;
      height: 10px;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      transition: background-color 0.5s ease-in-out;

    }

    &:hover {

      &::before {
        background-color: $orange;
      }

      .sorting-filters__select {
        color: $orange;
        border-color: $orange;
      }
    }
  }

  &__select {
    padding: 15px 41px 15px 15px;
    background-color: #fff;
    border: 1px solid $gray;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.2;
    color: $dark;
    appearance: none;
    overflow: hidden;
    outline: 0;
    transition: border-color 0.5s ease-in-out, color 0.5s ease-in-out;

    &:focus {
      border-color: $orange;
    }
  }

}

.catalog-sidebar {
  max-width: 270px;
  flex-basis: 270px;
  margin-right: 30px;
  transition: transform 0.7s ease-in-out;

  @include mq('tablet'){
    position: absolute;
    max-width: 320px;
    width: 320px;
    flex-basis: 320px;
    background-color: #fff;
    margin-right: 0;
    padding: 80px 50px 0 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    transform: translateX(-200%);
    overflow-y: scroll;
  }

  &--active{
    transform: translateX(0);
    &::before{
      content: '';
      position: absolute;
      background-color: rgba(#000000, 0.5);
      top: 0;
      left: 320px;
      width: calc(100vw - 320px);
      height: 100vh;
      display: block;
      z-index: 40;
    }
  }

  &__btn{
    width: 40px;
    height: 40px;
    background-color: rgba($orange, 0.1);
    position: absolute;
    top: 20px;
    right: 20px;
    outline: 0;
    
    &::before{
      @include pseudo;
      width: 18px;
      height: 18px;
      background-image: url('../../images/close.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__item {
    background-color: #fff;
    border: 1px solid $silver-200;
    border-radius: 5px;
    padding: 14px 0 25px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    padding: 0 15px 14px;
    border-bottom: 1px solid $silver-200;
    display: block;
    margin-bottom: 25px;
  }

}

.category {
  padding: 15px 0 25px 0;

  &__list{
    padding: 0 15px;
  }

  &__item {
    font-size: 18px;
    line-height: 1.3;

    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }

  &__link {
    outline: 0;
    word-break: break-all;
    transition: box-shadow 0.5s ease-in-out, color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;

    &:focus {
      box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
      border-radius: 5px;
    }

    &:hover {
      color: $orange;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba($dark, 0.5);
    }

    &--active {
      color: $orange;
    }
  }
}

.offer {
  padding: 15px 0 25px 0;

  &__form {
    padding-left: 15px;
  }

  &__item{

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__label {
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    font-size: 18px;
    line-height: 1.2;
    padding-left: 36px;
    display: block;
    position: relative;

    &::after {
      @include pseudo;
      width: 24px;
      height: 24px;
      left: 0;
      top: 0;
      background: rgba($orange, 0.1);
      border: 1px solid $silver-200;
      border-radius: 3px;
      margin-right: 12px;
      transition: border-color 0.5s ease-in-out;
    }

    &:focus {
      &::after {
        border-color: $orange;
      }
    }

    &:hover {
      color: $orange;

      &::after {
        border-color: $orange;
      }

    }
    
    
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;


    &:checked+.offer__label::after {
      background-image: url(../../images/checked-on.svg);
      background-repeat: no-repeat;
      background-position: center;
      border-color: $darkBlue;
    }

  }
}

.price {
  padding: 15px 0 25px 0;

  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -3px;
    padding: 0 15px;
  }

  &__label {
    padding: 0 15px 0 25px;
    position: relative;
    font-size: 16px;
    line-height: 1;
    color: $gray;

    &::after,
    &::before {
      @include pseudo;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      content: '₴';
      right: 0;
    }

    &::before {
      left: 0;
    }

    &--from::before {
      content: 'от';
    }

    &--to::before {
      content: 'до';
    }

  }

  &__input {
    width: 70px;
    height: 40px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: rgba($orange, 0.1);
    font-size: 16px;
    outline: 0;
    transition: border-color 0.5s ease-in-out;

    &:focus {
      border-color: $orange;
    }
  }

  .irs {
    width: 100%;
  }


  .irs-min,
  .irs-max,
  .irs-from,
  .irs-to {
    display: none;
  }

  .irs--round .irs-handle {
    top: 27px;
    width: 18px;
    height: 18px;
    border: none;
    background-color: $orange;
    box-shadow: none;
  }

  .irs--round .irs-line {
    height: 2px;
    background-color: $gray;
  }

  .irs--round .irs-bar {
    height: 2px;
    background-color: $orange;
  }
}

.pagination {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;

  }

  &__item {
    margin-right: 6px;

    &:nth-child(even){

      @include mq('phone'){
        display: none;
      }
    }
  }

  &__link {
    width: 48px;
    height: 48px;
    background-color: rgba($orange, 0.1);
    display: block;
    border-radius: 3px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $darkBlue;
    font-size: 18px;
    line-height: 1;
    outline: 0;
    transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    &:focus {
      box-shadow: 0px 0px 0px 2px #FF6838;
      border-radius: 3px;
    }

    &:hover {
      background-color: $orange;
      color: #fff;
    }

    &:active {
      box-shadow: inset 0px -1px 4px 2px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
    }

    &--active {
      border-color: $darkBlue;
    }
  }

  &__arrow {
    width: 48px;
    height: 48px;
    background-color: rgba($orange, 0.1);
    display: block;
    border-radius: 3px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    outline: 0;
    transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;


    &::before {
      @include pseudo;
      width: 11px;
      height: 18px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $darkBlue;
      mask-position: center;
      mask-repeat: no-repeat;
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px #FF6838;
      border-radius: 3px;
    }

    &:hover {
      background-color: $orange;
      
      &::before{
        background-color: #fff;
      }
    }

    &:active {
      box-shadow: inset 0px -1px 4px 2px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
    }

    &--active {
      border-color: $darkBlue;
    }

    &--disabled{
      
      &::before{
        background-color: $gray;
      }
    }

    &--prev {
      margin-right: 6px;

      &::before {
        mask-image: url(../../images/arrow-prev.svg);
      }
    }

    &--next {

      &::before {
        mask-image: url(../../images/arrow-next.svg);
      }
    }
  }
}