.header {
  padding: 58px 0;
  position: sticky;
  top: 0;
  left: 0;
  background-color: $silver-100;
  z-index: 30;
  transition: transform 0.5s ease-in-out;

  @include mq('phone') {
    padding: 14px 0;
  }

  &__logo {
    margin-left: 5px;

    @include mq('phone') {
      margin-left: 0;
    }

    .logo__img {
      @include mq('phone') {
        width: 115px;
        height: 23px;
      }
    }
  }

  &.sticky {
    padding-bottom: 14px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    transform: translateY(-43px);

    @include mq('phone') {
      transform: translateY(0);
      padding-top: 14px;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    margin: 0 52px 0 auto;
    font-size: 18px;
    line-height: 1.2;

    @include mq('tablet') {
      display: none;
    }
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    outline: 0;
    transition: box-shadow 0.5s ease-in-out, color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;

    &:focus {
      box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
      border-radius: 5px;
    }

    &:hover {
      color: $orange;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba($dark, 0.5);
    }

    &--active {
      color: $orange;
    }
  }

  &__btn {
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 3;
    margin: 0 7px 0 20px;
    display: none;

    @include mq ('tablet') {
      display: block;
    }

    @include mq('phone') {
      margin-left: 16px;
    }


  }

  &__btn::after,
  &__btn::before {
    content: '';
    width: 30px;
    height: 2px;
    background-color: $darkBlue;
    display: block;
    margin-bottom: 8px;
    transition: transform .3s;
  }

  &__btn::after {
    margin-bottom: 0;
  }

  &__line {
    background-color: $darkBlue;
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 8px;
    opacity: 1;
    transition: opacity .6s;
  }

}

.navigation {
  display: flex;

  @include mq('tablet') {
    margin-left: auto;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__btn {
    width: 44px;
    height: 44px;
    position: relative;
    outline: 0;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

    &::before {
      @include pseudo;
      width: 19px;
      height: 19px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      background-color: $dark;
      transition: background-color 0.5s ease-in-out;
    }

    &--search {
      &::before {
        mask-image: url(../images/sprite.svg#search);
      }

    }

    &--cart {
      &::before {
        mask-image: url(../images/sprite.svg#cart);
      }
    }

    &:focus {
      background-color: rgba($orange, 0.1);
      box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
    }

    &:hover {
      background-color: $orange;

      &::before {
        background-color: #fff;
      }

      & .navigation__num {
        background-color: #fff;
        color: $orange;
      }
    }

    &:active {
      background-color: rgba($orange, 0.1);
    }

  }

  &__num {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $orange;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 14px;
    top: 7px;
    right: 7px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    @include mq('phone') {
      top: 8px;
      right: 4px;
    }
  }
}

.side-menu {
  position: absolute;
  background-color: #fff;
  width: 300px;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(-200%);
  transition: transform 0.5s ease-in-out;
  z-index: 40;

  &__logo {
    display: inline-block;
    margin: 25px 0 25px 15px;
  }

  &__btn {
    position: absolute;
    top: 45px;
    right: 26px;

    &::after,
    &::before {
      content: '';
      width: 25px;
      height: 2px;
      background-color: $darkBlue;
      display: block;
      margin-bottom: 8px;
      border-radius: 2px;
      transition: transform .3s;
    }

    &::after {
      margin-bottom: 0;
      transform: translateY(-10px) rotate(-135deg);
    }

    &::before {
      transform: translateY(0) rotate(135deg);
    }
  }

  .menu__list {
    flex-direction: column;
    border-top: 1px solid #EEEFF3;
    border-bottom: 1px solid #EEEFF3;
    width: 100%;
    padding: 25px 15px;
    margin-bottom: 15px;
    display: block;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .contacts {
    padding-left: 15px;
  }

  &--active {
    transform: translateX(0);

    &::before{
      content: '';
      position: absolute;
      background-color: rgba($color: #000000, $alpha: 0.5);
      top: 0;
      left: 300px;
      width: calc(100vw - 300px);
      height: 100vh;
      display: block;
    }
  }

}