.restaurants {

  &__title {
    text-align: center;
    margin-bottom: 45px;
    padding-right: 10px;

    @include mq('tablet') {
      margin-bottom: 30px;
    }

    @include mq('phone') {
      padding-right: 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include mq('desktop') {
      grid-template-columns: repeat(2, 370px);
      justify-content: center;
      gap: 20px;
    }

    @include mq('tablet-2') {
      grid-template-columns: repeat(2, 345px);
    }

    @include mq('tablet') {
      display: block;
    }

    .slick-dots {
      justify-content: center;
      font-size: 0;
      margin-top: 30px;
      display: flex;

      li:not(:last-child) {
        margin-right: 15px;
      }

      button {
        font-size: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $gray;
        transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
        outline: 0;

        &:focus {
          box-shadow: 0px 0px 0px 2px $orange;
          background-color: $gray;
        }

        &:hover {
          background-color: rgba($orange, 0.1);
          box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
        }

        &:active {
          background-color: #FFAE94;
        }
      }
    }

    .slick-active {
      button {
        background-color: $orange;
      }

    }
  }

  &__item {
    justify-self: center;
  }
}