.reviews {

  &__title {
    text-align: center;
    margin-bottom: 45px;

    @include mq('phone'){
      margin-bottom: 30px;
    }
  }

  &__slider {
    max-width: 990px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 75px;

    @include mq('phone'){
      padding-bottom: 0;
    }
  }

  .slick-arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $orange;
    transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
    outline: 0;
    z-index: 5;

    @include mq('phone'){
      top: 28px;
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
    }

    &:hover {
      background-color: rgba($orange, 0.1);
      border-color: #FFAE94;

      .icon-arrow {
        background-color: #FFAE94;
      }
    }

    &:active {
      background-color: rgba($orange, 0.1);
      border: none;

      .icon-arrow {
        background-color: $orange;
      }
    }

    &.slick-disabled{
      border-color: $gray;

      .icon-arrow{
        background-color: $gray;
      }
    }
  }

  .slick-prev {
    transform: translateX(-115px);

    @include mq('phone'){
      transform: translateX(-138px);
    }
  }

  .slick-next {
    transform: translateX(75px);

    @include mq('phone'){
      transform: translateX(97px);
    }
  }

  .icon-arrow {
    width: 18px;
    height: 18px;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: $orange;
    display: block;
    transition: background-color 0.5s ease-in-out;
  }

  .slick-dots {
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);

  }

}