<section class="benefits section">
  <div class="container">
    <div class="benefits__inner" style="background-image: url('images/benefits-bg.png');">

      <div class="benefits__content">
        <h2 class="sr-only">Наши преимущества</h2>
        <div class="benefits__title title">Оставайтесь дома,
          а мы позаботимся о еде</div>
        <div class="benefits__text">
          <p>У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо
            сейчас и получите скиидку!</p>
        </div>
        <ul class="benefits__list">

          <li class="benefits__item" style="background-image: url('images/sprite.svg#timer');">Быстрая доставка за
            15 минут</li>

          <li class="benefits__item" style="background-image: url('images/sprite.svg#delivery');">Вежливые курьеры
          </li>

          <li class="benefits__item" style="background-image: url('images/sprite.svg#resturent');">Более 500
            заведений</li>

        </ul>

        <a class="benefits__link btn" href="#">Подробнее</a>

      </div>
    </div>
  </div>
</section>