<section class="catalog section">
  <div class="container">
    <div class="catalog__inner">
      <h2 class="catalog__title title">Каталог продуктов</h2>
      <div class="catalog__box">
        <button class="catalog__btn"><span class="sr-only">Фильтры</span></button>
        <form class="sorting-filters" action="#">
          <h3 class="sr-only">Сортировка</h3>
          <ul class="sorting-filters__items">

            <li class="sorting-filters__item">
              <label class="sorting-filters__label">
                <select class="sorting-filters__select" name="sort-title">
                  <option value="По названию">По названию</option>
                  <option value="По цене">По цене</option>
                </select>
              </label>
            </li>

            <li class="sorting-filters__item">
              <label class="sorting-filters__label">
                <select class="sorting-filters__select" name="sort-size">
                  <option value="по 12">по 12</option>
                  <option value="по 6">по 6</option>
                </select>
              </label>
            </li>

          </ul>
        </form>
      </div>

    </div>

    <div class="catalog__layout">
      <section class="catalog-sidebar">
        <button class="catalog-sidebar__btn"><span class="sr-only">закрыть фильтр</span></button>

        <article class="category catalog-sidebar__item">
          <h3 class="category__title catalog-sidebar__title">Категории</h3>
          <ul class="category__list">

            <li class="category__item">
              <a class="category__link" href="#">
                Бургеры
              </a>
            </li>

            <li class="category__item">
              <a class="category__link" href="#">
                Пицца
              </a>
            </li>

            <li class="category__item">
              <a class="category__link" href="#">
                Сендвичи
              </a>
            </li>

            <li class="category__item">
              <a class="category__link" href="#">
                Азиатская кухня
              </a>
            </li>

            <li class="category__item">
              <a class="category__link" href="#">
                Сеты
              </a>
            </li>

            <li class="category__item">
              <a class="category__link" href="#">
                Европейская кухня
              </a>
            </li>

            <li class="category__item">
              <a class="category__link" href="#">
                Напитки
              </a>
            </li>

            <li class="category__item">
              <a class="category__link" href="#">
                Алкоголь
              </a>
            </li>

          </ul>

        </article>

        <article class="offer catalog-sidebar__item">
          <h3 class="offer__title catalog-sidebar__title">Предложения</h3>
          <form class="offer__form" action="#">
            <ul class="offer__list">
              <li class="offer__item">
                <input class="offer__input" id="offer-sale" type="checkbox" name="offer-sale">
                <label class="offer__label" for="offer-sale">Со скидкой</label>
              </li>

              <li class="offer__item">
                <input class="offer__input" id="offer-new" type="checkbox" name="offer-new">
                <label class="offer__label" for="offer-new">Новинка</label>
              </li>

              <li class="offer__item">
                <input class="offer__input" id="offer-hit" type="checkbox" name="offer-hit">
                <label class="offer__label" for="offer-hit">Хит</label>
              </li>
            </ul>

          </form>
        </article>

        <article class="price catalog-sidebar__item">
          <h3 class="price__title catalog-sidebar__title">Цена</h3>
          <div class="price__box">
            <label class="price__label price__label--from">
              <input type="text" class="price__input--from price__input" value="0" />
            </label>
            <label class="price__label price__label--to">
              <input type="text" class="price__input--to price__input" value="0" />
            </label>
            <input type="text" class="price__range-slider" value="" />
          </div>

        </article>

      </section>

      <div class="catalog__content">
        <ul class="catalog__list">
          <li class="catalog__item">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/1.jpg" alt="бургер №1" width="140" height="140">
              </a>
              <div class="product-card__info">
                <a class="product-card__link" href="#">
                  <h3 class="product-card__title">Чизбургер с листьями салата</h3>
                </a>
                <span class="product-card__price">160 <span class="product-card__currency">грн.</span></span>
              </div>
              <button class="product-card__btn btn" type="button">В корзину</button>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/2.jpg" alt="бургер №2" width="140" height="140">
              </a>
              <div class="product-card__info">
                <a class="product-card__link" href="#">
                  <h3 class="product-card__title">Бифбургер</h3>
                </a>
                <span class="product-card__price">190 <span class="product-card__currency">грн.</span></span>
              </div>
              <button class="product-card__btn btn" type="button">В корзину</button>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/3.jpg" alt="бургер №3" width="140" height="140">
              </a>
              <div class="product-card__info">
                <a class="product-card__link" href="#">
                  <h3 class="product-card__title">Королевский чизбургер</h3>
                </a>
                <span class="product-card__price">260 <span class="product-card__currency">грн.</span></span>
              </div>
              <button class="product-card__btn btn" type="button">В корзину</button>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/4.jpg" alt="бургер №4" width="140" height="140">
              </a>
              <div class="product-card__info">
                <a class="product-card__link" href="#">
                  <h3 class="product-card__title">Черный гамбургер</h3>
                </a>
                <span class="product-card__price">199 <span class="product-card__currency">грн.</span></span>
              </div>
              <button class="product-card__btn btn" type="button">В корзину</button>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/1.jpg" alt="бургер №1" width="140" height="140">
              </a>
              <div class="product-card__info">
                <a class="product-card__link" href="#">
                  <h3 class="product-card__title">Чизбургер с листьями салата</h3>
                </a>
                <span class="product-card__price">160 <span class="product-card__currency">грн.</span></span>
              </div>
              <button class="product-card__btn btn" type="button">В корзину</button>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/2.jpg" alt="бургер №2" width="140" height="140">
              </a>
              <div class="product-card__info">
                <a class="product-card__link" href="#">
                  <h3 class="product-card__title">Бифбургер</h3>
                </a>
                <span class="product-card__price">190 <span class="product-card__currency">грн.</span></span>
              </div>
              <button class="product-card__btn btn" type="button">В корзину</button>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/3.jpg" alt="бургер №3" width="140" height="140">
              </a>
              <div class="product-card__info">
                <a class="product-card__link" href="#">
                  <h3 class="product-card__title">Королевский чизбургер</h3>
                </a>
                <span class="product-card__price">260 <span class="product-card__currency">грн.</span></span>
              </div>
              <button class="product-card__btn btn" type="button">В корзину</button>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/4.jpg" alt="бургер №4" width="140" height="140">
              </a>
              <div class="product-card__info">
                <a class="product-card__link" href="#">
                  <h3 class="product-card__title">Черный гамбургер</h3>
                </a>
                <span class="product-card__price">199 <span class="product-card__currency">грн.</span></span>
              </div>
              <button class="product-card__btn btn" type="button">В корзину</button>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/1.jpg" alt="бургер №1" width="140" height="140">
              </a>
              <div class="product-card__info">
                <a class="product-card__link" href="#">
                  <h3 class="product-card__title">Чизбургер с листьями салата</h3>
                </a>
                <span class="product-card__price">160 <span class="product-card__currency">грн.</span></span>
              </div>
              <button class="product-card__btn btn" type="button">В корзину</button>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/2.jpg" alt="бургер №2" width="140" height="140">
              </a>
              <div class="product-card__info">
                <a class="product-card__link" href="#">
                  <h3 class="product-card__title">Бифбургер</h3>
                </a>
                <span class="product-card__price">190 <span class="product-card__currency">грн.</span></span>
              </div>
              <button class="product-card__btn btn" type="button">В корзину</button>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/3.jpg" alt="бургер №3" width="140" height="140">
              </a>
              <div class="product-card__info">
                <a class="product-card__link" href="#">
                  <h3 class="product-card__title">Королевский чизбургер</h3>
                </a>
                <span class="product-card__price">260 <span class="product-card__currency">грн.</span></span>
              </div>
              <button class="product-card__btn btn" type="button">В корзину</button>
            </article>
          </li>
          <li class="catalog__item">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__img" src="images/content/4.jpg" alt="бургер №4" width="140" height="140">
              </a>
              <div class="product-card__info">
                <a class="product-card__link" href="#">
                  <h3 class="product-card__title">Черный гамбургер</h3>
                </a>
                <span class="product-card__price">199 <span class="product-card__currency">грн.</span></span>
              </div>
              <button class="product-card__btn btn" type="button">В корзину</button>
            </article>
          </li>
        </ul>
        <div class="pagination">
          <a class="pagination__arrow pagination__arrow--prev pagination__arrow--disabled" href="#"></a>
          <ul class="pagination__list">
            <li class="pagination__item">
              <a class="pagination__link pagination__link--active" href="#">
                1
              </a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">
                2
              </a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">
                ...
              </a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">
                9
              </a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">
                10
              </a>
            </li>
          </ul>
          <a class="pagination__arrow pagination__arrow--next" href="#"></a>
        </div>
      </div>
    </div>
  </div>
</section>