<section class="categories section">
  <div class="container">

    <h2 class="categories__title title">Популярные категории </h2>

    <ul class="categories__btns">

      <li class="categories__box">
        <button class="categories__btn categories__btn--burger" data-filter=".burger" type="button">
          Бургеры
        </button>
      </li>

      <li class="categories__box">
        <button class="categories__btn categories__btn--pizza" data-filter=".pizza" type="button">
          Пицца
        </button>
      </li>

      <li class="categories__box">
        <button class="categories__btn categories__btn--sandwich" data-filter=".sandwich" type="button">
          Сендвичи
        </button>
      </li>

      <li class="categories__box">
        <button class="categories__btn categories__btn--chinese-food" data-filter=".chinese-food" type="button">
          Азиатская кухня
        </button>
      </li>

      <li class="categories__box">
        <button class="categories__btn categories__btn--dish" data-filter=".dish" type="button">
          Cеты
        </button>
      </li>

    </ul>

    <ul class="categories__list">

      <li class="categories__item mix burger">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/1.jpg" alt="бургер №1" width="140" height="140">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Чизбургер с листьями салата</h3>
            </a>
            <span class="product-card__price">160 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burger">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/2.jpg" alt="бургер №2" width="140" height="140">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Бифбургер</h3>
            </a>
            <span class="product-card__price">190 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burger">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/3.jpg" alt="бургер №3" width="140" height="140">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Королевский чизбургер</h3>
            </a>
            <span class="product-card__price">260 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burger">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/4.jpg" alt="бургер №4" width="140" height="140">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Черный гамбургер</h3>
            </a>
            <span class="product-card__price">199 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burger">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/5.jpg" alt="бургер №5" width="140" height="140">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Чикен бургер</h3>
            </a>
            <span class="product-card__price">180 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burger">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/1.jpg" alt="бургер №1" width="140" height="140">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Чизбургер с листьями салата</h3>
            </a>
            <span class="product-card__price">160 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burger">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/2.jpg" alt="бургер №2" width="140" height="140">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Бифбургер</h3>
            </a>
            <span class="product-card__price">190 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burger">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/3.jpg" alt="бургер №3" width="140" height="140">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Королевский чизбургер</h3>
            </a>
            <span class="product-card__price">260 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burger">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/4.jpg" alt="бургер №4" width="140" height="140">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Черный гамбургер</h3>
            </a>
            <span class="product-card__price">199 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>

      <li class="categories__item mix burger">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/content/5.jpg" alt="бургер №5" width="140" height="140">
          </a>
          <div class="product-card__info">
            <a class="product-card__link" href="#">
              <h3 class="product-card__title">Чикен бургер</h3>
            </a>
            <span class="product-card__price">180 <span class="product-card__currency">грн.</span></span>
          </div>
          <button class="product-card__btn btn" type="button">В корзину</button>
        </article>
      </li>
    </ul>

    <button class="more-btn" type="button">Показать еще</button>

  </div>
</section>