<footer class="footer">
  <div class="container">

    <div class="footer__inner">

      <div class="footer__box">
        <a class="footer__logo logo" href="#">
          <img class="logo__img" src="images/logo.svg" alt="логотип" width="200" height="39">
        </a>

        <form class="footer__form" action="#">
          <label class="footer__label" for="subscribe">
            <span class="sr-only">Поле для email</span>
            <input class="footer__input input-field" type="email" name="subscribe" id="subscribe" placeholder="Ваш email" required>
          </label>
          <button class="footer__btn btn" type="submit">Подписаться</button>
        </form>
      </div>

      <ul class="footer__list">

        <li class="footer__item">
          <a class="footer__link" href="#">Как это работает</a>
        </li>

        <li class="footer__item">
          <a class="footer__link" href="#">Продукты</a>
        </li>

        <li class="footer__item">
          <a class="footer__link" href="#">Блюда</a>
        </li>

        <li class="footer__item">
          <a class="footer__link" href="#">Меню</a>
        </li>

        <li class="footer__item">
          <a class="footer__link" href="#">О нас</a>
        </li>

        <li class="footer__item">
          <a class="footer__link" href="#">Новости</a>
        </li>

        <li class="footer__item">
          <a class="footer__link" href="#">Партнеры</a>
        </li>

        <li class="footer__item">
          <a class="footer__link" href="#">ЧаВо</a>
        </li>

        <li class="footer__item">
          <a class="footer__link" href="#">Скачать приложение</a>
        </li>

        <li class="footer__item">
          <a class="footer__link" href="#">Блог</a>
        </li>

        <li class="footer__item">
          <a class="footer__link" href="#">Что нового?</a>
        </li>

        <li class="footer__item">
          <a class="footer__link" href="#">Карта сайта</a>
        </li>

      </ul>

      <address class="contacts">

        <ul class="contacts__list">

          <li class="contacts__item">
            <a class="contacts__link contacts__link--address" href="#"><span class="sr-only">Наш адрес</span>ул.
              Т.Г.Шевченко, 1</a>
          </li>

          <li class="contacts__item">
            <a class="contacts__link contacts__link--phone" href="tel:380501112233"><span class="sr-only">Наш
                телефон</span>380501112233</a>
          </li>

          <li class="contacts__item">
            <a class="contacts__link contacts__link--mail" href="mailto:support@sfood.com"><span class="sr-only">Наш
                email</span>support@sfood.com</a>
          </li>

        </ul>

        <ul class="social">

          <li class="social__item">
            <a class="social__link " href="#" >
              <span class="social__icon" style="-webkit-mask-image: url('images/sprite.svg#facebook');"></span>
              <span class="sr-only">instagram страничка</span>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link " href="#">
              <span class="social__icon" style="-webkit-mask-image: url('images/sprite.svg#twitter');"></span>
              <span class="sr-only">instagram страничка</span>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link " href="#" >
              <span class="social__icon" style="-webkit-mask-image: url('images/sprite.svg#instagram');"></span>
              <span class="sr-only">instagram страничка</span>
            </a>
          </li>

        </ul>

      </address>
    </div>
  </div>

  <div class="footer__copy">© 2022 Simple Food</div>
</footer>