<section class="mobile-app section">
  <div class="container">
    <div class="mobile-app__inner" style="background-image: url('images/mobile-bg.jpg');">

      <div class="mobile-app__content">
        <h2 class="mobile-app__title title">Скачайте мобильное приложение</h2>

        <div class="mobile-app__text">
          <p>Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном
            месте. </p>
        </div>

        <ul class="mobile-app__list">

          <li class="mobile-app__item">
            <a class="mobile-app__link mobile-app__link--apple" href="#"><span class="sr-only">App Store</span></a>
          </li>

          <li class="mobile-app__item">
            <a class="mobile-app__link mobile-app__link--google" href="#"><span class="sr-only">Google Play</span></a>
          </li>

        </ul>

      </div>

    </div>
  </div>
</section>