<section class="product section">
  <div class="container">
    <div class="product__inner">
      <!-- <div id="myCarousel" class="carousel w-10/12 max-w-5xl mx-auto">
        <div class="carousel__slide" data-src="images/product/big-1.jpg" data-fancybox="gallery">
          <img width="600" height="400" data-lazy-src="images/product/small-1.jpg" />
        </div>
        <div class="carousel__slide" data-src="images/product/big-1.jpg" data-fancybox="gallery">
          
        </div>
        <div class="carousel__slide" data-src="images/product/big-1.jpg" data-fancybox="gallery">
          
        </div>
        <div class="carousel__slide" data-src="images/product/big-1.jpg" data-fancybox="gallery">
          
        </div>
        <div class="carousel__slide" data-src="images/product/big-1.jpg" data-fancybox="gallery">
          
        </div>
        <div class="carousel__slide" data-src="images/product/big-1.jpg" data-fancybox="gallery">
          
        </div>
        <div class="carousel__slide" data-src="images/product/big-1.jpg" data-fancybox="gallery">
         
        </div>
        
      </div> -->
      <div class="product__gallery">
        <img class="product__img" src="images/product/small-1.jpg" alt="Чизбургер с листьями салата" width="400" height="400">
      </div>
      <div class="product__content">
        <h2 class="product__title title">
          Чизбургер с листьями салата
        </h2>
        <div class="product__rating" data-rateyo-rating="4"></div>
        <div class="product__price">
          <span class="product__cost">160 </span> <span class="product__currency">грн.</span>
        </div>
        <form class="product__form">
          <label for="">
            <input class="product__input" type="number">
          </label>
          <button class="product__btn btn">Добавить в корзину</button>
        </form>
        <div class="delivery">
          <div class="delivery__title">Доставка и оплата</div>
          <ul class="delivery__list">
            <li class="delivery__item">Минимальная сумма заказа — 160 грн.</li>
            <li class="delivery__item">Время доставки заказа — 80-140 мин.</li>
            <li class="delivery__item">Оплата осуществляется только банковской картой.</li>
            <li class="delivery__item">Окончательная сумма заказа формируется после сбора товаров.</li>
          </ul>
          <a class="delivery__link" href="#">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>