<section class="product section">
  <div class="container">
    <div class="product__inner">
      <div class="swiper product__slider">
        <div class="swiper-wrapper product__wrapper">
          <div class="swiper-slide product__slide"><a data-fancybox="images" href="images/product/big-1.jpg">
              <img class="product__img" width="400" height="400" src="images/product/small-1.jpg" />
            </a></div>
          <div class="swiper-slide product__slide"><a data-fancybox="images" href="images/product/big-1.jpg">
              <img class="product__img" width="400" height="400" src="images/product/small-1.jpg" />
            </a></div>
          <div class="swiper-slide product__slide"><a data-fancybox="images" href="images/product/big-1.jpg">
              <img class="product__img" width="400" height="400" src="images/product/small-1.jpg" />
            </a></div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>


      <div class="product__content">
        <h1 class="product__title title">
          Чизбургер с листьями салата
        </h1>
        <div class="product__rating" data-rateyo-rating="4"></div>
        <div class="product__price">
          <span class="product__cost">160 </span> <span class="product__currency">грн.</span>
        </div>
        <form class="product__form">
          <label class="product__label">
            <input class="product__input" type="number" value="1" min="1">
          </label>
          <button class="product__btn btn">Добавить в корзину</button>
        </form>
        <div class="delivery">
          <h2 class="delivery__title">Доставка и оплата</h2>
          <ul class="delivery__list">
            <li class="delivery__item">Минимальная сумма заказа — 160 грн.</li>
            <li class="delivery__item">Время доставки заказа — 80-140 мин.</li>
            <li class="delivery__item">Оплата осуществляется только банковской картой.</li>
            <li class="delivery__item">Окончательная сумма заказа формируется после сбора товаров</li>
          </ul>
          <a class="delivery__link" href="#">Подробнее</a>
        </div>
      </div>
    </div>
  </div>

  <div class="product__tabs product-tabs">
    <div class="container">
      <div class="product-tabs__inner">
        <input class="product-tabs__input product-tabs__input--descr" id="product-descr" name="product-tabs" type="radio" checked>
        <input class="product-tabs__input product-tabs__input--feature" id="product-feature" name="product-tabs" type="radio">
        <input class="product-tabs__input product-tabs__input--review" id="product-review" name="product-tabs" type="radio">

        <ul class="product-tabs__list">
          <li class="product-tabs__part">
            <h2 class="product-tabs__title">
              <label class="product-tabs__label product-tabs__label--descr" id="product-descr-tab" for="product-descr">Описание</label>
            </h2>
          </li>

          <li class="product-tabs__part">
            <h2 class="product-tabs__title">
              <label class="product-tabs__label product-tabs__label--feature" id="product-feature-tab" for="product-feature">Характеристики</label>
            </h2>
          </li>

          <li class="product-tabs__part">
            <h2 class="product-tabs__title">
              <label class="product-tabs__label product-tabs__label--review" id="product-review-tab" for="product-review">Отзывы (2)</label>
            </h2>
          </li>
        </ul>

        <ul class="product-tabs__items">
          <li class="product-tabs__item product-tabs__item--descr">
            <article class="descr-prod">
              <p>Рубленый бифштекс из натуральной говядины на карамелизованной булочке, с ломтиком сыра «Чеддер»,
                кетчупом, горчицей, луком и маринованными огурчиками.
              </p>
              <p>Аллергены: Глютен, Молоко, Горчица, Может содержать сою, яйцо, следы кунжута</p>
              <p>Внешний вид товара может отличаться от изображений, представленных на сайте.</p>
            </article>
          </li>
          <li class="product-tabs__item product-tabs__item--feature">
            <ul class="feature-prod">
              <li class="feature-prod__item">
                <span class="feature-prod__descr">Диаметр: </span><span class="feature-prod__value">20 см</span>
              </li>
              <li class="feature-prod__item">
                <span class="feature-prod__descr">Вес: </span><span class="feature-prod__value">300 гр</span>
              </li>
              <li class="feature-prod__item">
                <span class="feature-prod__descr">Калорийность (на 100г): </span><span class="feature-prod__value">295
                  ккал</span>
              </li>
              <li class="feature-prod__item">
                <span class="feature-prod__descr">Срок хранения: </span><span class="feature-prod__value">до 3
                  дней</span>
              </li>
            </ul>
          </li>
          <li class="product-tabs__item product-tabs__item--review">
            <article class="review-prod">
              <h3 class="review-prod__title">Мнения наших клиентов</h3>

              <ul class="review-prod__list">
                <li class="review-prod__item">
                  <div class="review-prod__info">
                    <img class="review-prod__avatar" src="images/prod-avatar.jpg" alt="аватар коментирующего" width="70"
                      height="70">
                    <div class="review-prod__box">
                      <span class="review-prod__name">Андрей</span>
                      <time class="review-prod__time">10.06.2021</time>
                    </div>
                    <div class="review-prod__rating" data-rateyo-rating="5"></div>
                  </div>
                  <div class="review-prod__text">
                    <p>Доставили быстро. Товар свежий и очень вкусный, буду пробовать еще!))</p>
                  </div>
                </li>

                <li class="review-prod__item">
                  <div class="review-prod__info">
                    <img class="review-prod__avatar" src="images/prod-avatar.jpg" alt="аватар коментирующего" width="70"
                      height="70">
                    <div class="review-prod__box">
                      <span class="review-prod__name">Екатерина Белая</span>
                      <time class="review-prod__time">7.06.2021</time>
                    </div>
                    <div class="review-prod__rating" data-rateyo-rating="4"></div>
                  </div>
                  <div class="review-prod__text">
                    <p>этот бургер неплохой чтобы перекусить, когда нет возможности или времени что-нибудь приготовить.
                      Это отличный вариант, чтобы съесть на ходу, но чтобы побаловать себя, я больше предпочту пиццу</p>
                  </div>
                </li>
              </ul>

              <form class="review-prod__form review-form" action="#">
                <h3 class="review-form__title">Оставить отзыв</h3>
                <span class="review-form__label review-form__label--rating">Ваша оценка * <div
                    class="review-form__rating"></div></span>
                <div class="review-form__inner">
                  <label class="review-form__label" for="review-message">
                    Ваш отзыв *
                    <textarea class="review-form__input review-form__input--textarea" id="review-message"
                      name="review-message" placeholder="Введите текст отзыва" required></textarea>
                  </label>
                  <div class="review-form__box">
                    <label class="review-form__label" for="review-name">
                      Имя
                      <input class="review-form__input " id="review-name" name="review-name" type="text"
                        placeholder="Введите ваше имя"></input>
                    </label>
                    <label class="review-form__label" for="review-email">
                      Email *
                      <input class="review-form__input" id="review-email" name="review-email" type="email"
                        placeholder="youremail@mail.com" required></input>
                    </label>
                  </div>

                </div>

                <input class="review-form__input review-form__input--checkbox" id="review-confirm" name="review-confirm"
                  type="checkbox"></input>
                <label class="review-form__label review-form__label--checkbox" for="review-confirm">
                  Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.
                </label>
                <button class="review-form__btn btn">Оставить отзыв</button>
              </form>

            </article>
          </li>
        </ul>
      </div>
    </div>


  </div>


</section>