<section class="promo section">
  <div class="container">
    <h2 class="promo__title title">
      Акции и скидки
    </h2>
    <ul class="promo__list">
      <li class="promo__item">
        <article class="rest-card">
          <a class="rest-card__image" href="#">
            <img class="rest-card__img" src="images/restaurant/1.jpg" alt="ресторан №1" width="370"
              height="300">
          </a>
          <a class="rest-card__title" href="#">
            <h3>Скидка 50% на вторую пиццу</h3>
          </a>
        </article>
      </li>
      <li class="promo__item">
        <article class="rest-card">
          <a class="rest-card__image" href="#">
            <img class="rest-card__img" src="images/restaurant/5.jpg" alt="ресторан №5" width="370"
              height="300">
          </a>
          <a class="rest-card__title" href="#">
            <h3>Картошечка из KFC даром при заказе бургера</h3>
          </a>
        </article>
      </li>
      <li class="promo__item">
        <article class="rest-card">
          <a class="rest-card__image" href="#">
            <img class="rest-card__img" src="images/restaurant/6.jpg" alt="ресторан №6" width="370"
              height="300">
          </a>
          <a class="rest-card__title" href="#">
            <h3>Чёрные бургеры на чёрный день </h3>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>