<section class="recent section">
  <div class="container">
    <h2 class="recent__title title">Вас может заинтересовать</h2>

    <div class="swiper recent__slider">
      <div class="swiper-wrapper recent__wrapper">
        <div class="swiper-slide recent__slide">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/content/1.jpg" alt="бургер №1" width="140" height="140">
            </a>
            <div class="product-card__info">
              <a class="product-card__link" href="#">
                <h3 class="product-card__title">Чизбургер с листьями салата</h3>
              </a>
              <span class="product-card__price">160 <span class="product-card__currency">грн.</span></span>
            </div>
            <button class="product-card__btn btn" type="button">В корзину</button>
          </article>
        </div>
        <div class="swiper-slide recent__slide">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/content/2.jpg" alt="бургер №2" width="140" height="140">
            </a>
            <div class="product-card__info">
              <a class="product-card__link" href="#">
                <h3 class="product-card__title">Бифбургер</h3>
              </a>
              <span class="product-card__price">190 <span class="product-card__currency">грн.</span></span>
            </div>
            <button class="product-card__btn btn" type="button">В корзину</button>
          </article>
        </div>
        <div class="swiper-slide recent__slide">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/content/3.jpg" alt="бургер №3" width="140" height="140">
            </a>
            <div class="product-card__info">
              <a class="product-card__link" href="#">
                <h3 class="product-card__title">Королевский чизбургер</h3>
              </a>
              <span class="product-card__price">260 <span class="product-card__currency">грн.</span></span>
            </div>
            <button class="product-card__btn btn" type="button">В корзину</button>
          </article>
        </div>
        <div class="swiper-slide recent__slide">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/content/4.jpg" alt="бургер №4" width="140" height="140">
            </a>
            <div class="product-card__info">
              <a class="product-card__link" href="#">
                <h3 class="product-card__title">Черный гамбургер</h3>
              </a>
              <span class="product-card__price">199 <span class="product-card__currency">грн.</span></span>
            </div>
            <button class="product-card__btn btn" type="button">В корзину</button>
          </article>
        </div>
        <div class="swiper-slide recent__slide">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/content/5.jpg" alt="бургер №5" width="140" height="140">
            </a>
            <div class="product-card__info">
              <a class="product-card__link" href="#">
                <h3 class="product-card__title">Чикен бургер</h3>
              </a>
              <span class="product-card__price">180 <span class="product-card__currency">грн.</span></span>
            </div>
            <button class="product-card__btn btn" type="button">В корзину</button>
          </article>
        </div>
        <div class="swiper-slide recent__slide">
          <article class="product-card">
            <a class="product-card__link" href="#">
              <img class="product-card__img" src="images/content/1.jpg" alt="бургер №1" width="140" height="140">
            </a>
            <div class="product-card__info">
              <a class="product-card__link" href="#">
                <h3 class="product-card__title">Чизбургер с листьями салата</h3>
              </a>
              <span class="product-card__price">160 <span class="product-card__currency">грн.</span></span>
            </div>
            <button class="product-card__btn btn" type="button">В корзину</button>
          </article>
        </div>

      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>