<section class="restaurants section">
  <div class="container">
    <h2 class="restaurants__title title">
      Лучшие рестораны
    </h2>

    <ul class="restaurants__list">

      <li class="restaurants__item">
        <div class="info-card">
          <a class="info-card__image" href="#">
            <img class="info-card__img" src="images/restaurant/1.jpg" alt="ресторан №1" width="370"
              height="300">
          </a>
          <a class="info-card__title" href="#">
            <h3>Blaze Pizza</h3>
          </a>
          <div class="info-card__bottom">
            <span class="info-card__time">11:00 - 22:00</span>
            <a class="info-card__link" href="#">
              <span class="sr-only">Перейти к ресторану</span>
            </a>
          </div>
        </div>
      </li>

      <li class="restaurants__item">
        <div class="info-card">
          <a class="info-card__image" href="#">
            <img class="info-card__img" src="images/restaurant/2.jpg" alt="ресторан №2" width="370"
              height="300">
          </a>
          <a class="info-card__title" href="#">
            <h3>Pizza Runcho</h3>
          </a>
          <div class="info-card__bottom">
            <span class="info-card__time">12:00 - 21:00</span>
            <a class="info-card__link" href="#">
              <span class="sr-only">Перейти к ресторану</span>
            </a>
          </div>
        </div>
      </li>

      <li class="restaurants__item">
        <div class="info-card">
          <a class="info-card__image" href="#">
            <img class="info-card__img" src="images/restaurant/3.jpg" alt="ресторан №3" width="370"
              height="300">
          </a>
          <a class="info-card__title" href="#">
            <h3>Pizza Hut</h3>
          </a>
          <div class="info-card__bottom">
            <span class="info-card__time">11:00 - 22:00</span>
            <a class="info-card__link" href="#">
              <span class="sr-only">Перейти к ресторану</span>
            </a>
          </div>
        </div>
      </li>

      <li class="restaurants__item">
        <div class="info-card">
          <a class="info-card__image" href="#">
            <img class="info-card__img" src="images/restaurant/4.jpg" alt="ресторан №4" width="370"
              height="300">
          </a>
          <a class="info-card__title" href="#">
            <h3>McDonald`s</h3>
          </a>
          <div class="info-card__bottom">
            <span class="info-card__time">06:00 - 23:00</span>
            <a class="info-card__link" href="#">
              <span class="sr-only">Перейти к ресторану</span>
            </a>
          </div>
        </div>
      </li>

      <li class="restaurants__item">
        <div class="info-card">
          <a class="info-card__image" href="#">
            <img class="info-card__img" src="images/restaurant/5.jpg" alt="ресторан №5" width="370"
              height="300">
          </a>
          <a class="info-card__title" href="#">
            <h3>KFC</h3>
          </a>
          <div class="info-card__bottom">
            <span class="info-card__time">06:00 - 23:30</span>
            <a class="info-card__link" href="#">
              <span class="sr-only">Перейти к ресторану</span>
            </a>
          </div>
        </div>
      </li>

      <li class="restaurants__item">
        <div class="info-card">
          <a class="info-card__image" href="#">
            <img class="info-card__img" src="images/restaurant/6.jpg" alt="ресторан №6" width="370"
              height="300">
          </a>
          <a class="info-card__title" href="#">
            <h3>Star Burgers</h3>
          </a>
          <div class="info-card__bottom">
            <span class="restaurant-card__time">09:00 - 21:00</span>
            <a class="info-card__link" href="#">
              <span class="sr-only">Перейти к ресторану</span>
            </a>
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>