<section class="reviews section">
  <div class="container">

    <h2 class="reviews__title title">Отзывы клиентов</h2>

    <ul class="reviews__slider">

      <li class="reviews__wrapper">
        <figure class="review">
          <img class="review__img" src="images/avatar.jpg" alt="аватар коментуючого">
          <figcaption class="review__content">
            <blockquote class="review__blockquote">
              <p>SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!</p>
            </blockquote>
            <span class="review__name">Дарья</span>
            <span class="review__status">Ценитель вкусной еды</span>
          </figcaption>
        </figure>
      </li>

      <li class="reviews__wrapper">
        <figure class="review">
          <img class="review__img" src="images/avatar.jpg" alt="аватар коментуючого">
          <figcaption class="review__content">
            <blockquote class="review__blockquote">
              <p>SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
              </p>
            </blockquote>
            <span class="review__name">Дарья</span>
            <span class="review__status">Ценитель вкусной еды</span>
          </figcaption>
        </figure>
      </li>

      <li class="reviews__wrapper">
        <figure class="review">
          <img class="review__img" src="images/avatar.jpg" alt="аватар коментуючого">
          <div class="review__content">
            <blockquote class="review__blockquote">
              <p>SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!</p>
            </blockquote>
            <figcaption class="review__name">Дарья</figcaption>
            <span class="review__status">Ценитель вкусной еды</span>
          </div>
        </figure>
      </li>

      <li class="reviews__wrapper">
        <figure class="review">
          <img class="review__img" src="images/avatar.jpg" alt="аватар коментуючого">
          <div class="review__content">
            <blockquote class="review__blockquote">
              <p>SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!</p>
            </blockquote>
            <figcaption class="review__name">Дарья</figcaption>
            <span class="review__status">Ценитель вкусной еды</span>
          </div>
        </figure>
      </li>

    </ul>
  </div>
</section>