.breadcrumbs {
  background-color: rgba($orange, 0.1);

  &__list {
    display: flex;
  }

  &__item {
    padding: 24px 0;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #505050;
    position: relative;

    &:nth-child(2) {

      @include mq('phone') {
        display: none;
      }
    }

    &:not(:last-child) {
      margin-right: 17px;

      &::after {
        @include pseudo;
        background-image: url('../../../images/chevron.svg');
        background-repeat: no-repeat;
        width: 6px;
        height: 10px;
        top: 50%;
        right: -11px;
        transform: translateY(-50%);
      }

      .breadcrumbs__link {

        &:focus {
          box-shadow: 0px 0px 0px 2px rgba($orange, 0.7);
          border-radius: 5px;
        }

        &:hover {
          color: $orange;
        }
      }
    }
  }

  &__link {
    color: inherit;
    outline: 0;
  }
}